# ------------------------------------------------------------------------------
# User Configuration (Required)
# ------------------------------------------------------------------------------
# Authentication token
TOKEN=

# Project identifier
PROJECT_ID=


# ------------------------------------------------------------------------------
# Program Configuration (Required)
# ------------------------------------------------------------------------------
# Program ID obtained after uploading your zkVM program
PROGRAM_ID=


# ------------------------------------------------------------------------------
# Others (Optional)
# ------------------------------------------------------------------------------

# Verbose logging (0 = disabled, 1, 2, etc.)
LOG_VERBOSE=0


# ------------------------------------------------------------------------------
# Blockchain Configuration (Optional)
# ------------------------------------------------------------------------------

# Default: Base Mainnet
RPC_URL=https://mainnet.base.org

